/*@import 'antd/dist/antd.css';*/

.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}